/*=========================== Contact Us Page =============================*/

/*------------------- Contact Container ------------------*/

.backg img {
  opacity: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

.contact {
  padding: 100px 20px;
  align-items: center;
  background: black;
  .contacth2 {
    text-align: center;
    font-family: "Onest", sans-serif !important;
    padding-top: 10px;
    font-size: 50px;
    color: white;
  }
  .contacth3 {
    text-align: center;
    font-family: "Onest", sans-serif !important;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  }

  .contactfullcontainer {
    display: flex;
    justify-content: center;
  }
}

/*===================  Contact Image ===================*/

.contact-img-container {
  padding: 50px;
  width: 26%;
  background: linear-gradient(213deg, rgb(50, 50, 50) 5%, rgb(79, 79, 79) 100%);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
}
.contact-form-container {
  width: 45%;
  padding: 0px 40px;
  background: #0d0d0d;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  h2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 300;
  }
  input {
    width: 100%;
    height: 30px;
    font-weight: 500;
    background: transparent;
    color: black;
    padding: 10px;
    border-radius: 12px;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.437);
  }
  textarea {
    width: 100%;
    height: 100px;
    font-weight: 500;
    background: transparent;
    color: black;
    padding: 10px;
    border-radius: 12px;
  }
}

/*== Contact Form ==*/

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 30px 0px;
  h2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
  }
  .mailandphone {
    width: 100%;
    display: flex;
    gap: 35px;

    div {
      width: 50%;
    }
  }
}

.submitbutt {
  background: white;
  color: black;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  &:hover {
    scale: 1.03;
    box-shadow: 0px 0px 10px #0b22ba50;
    transition: 0.4s ease-in-out;
  }
}

.contacthome {
  padding: 100px;
  h1 {
    font-size: 60px;
    font-weight: 800;
  }
}

.contbutt {
  background: black;
  margin: 10px;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 15px;
  width: 120px;
  border-radius: 20px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    background: #f6ff00;
    transition: 1.4s;
  }
}

.reachus {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.reach {
  backdrop-filter: blur(10px);
  padding: 50px;
  color: black;
  h2 {
    font-family: "Onest", sans-serif !important;
    padding: 10px 0px;
    font-size: 50px;
    color: white;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 7px;
  }
  h4 {
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
}

.reachrow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.reachcol {
  text-align: start;
  width: 20%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  padding: 40px 40px;
  margin: 20px 0px;
  color: white;
  text-align: center;
}

.reachsmlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4px;
  gap: 20px;
}

.reachsmeachlist svg {
  width: 37px;
  height: 37px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  &:hover {
    scale: 1.25;
    transition: 0.35s ease-in-out;
  }
}
